# Flask Framework
Flask==2.3.3
gunicorn==23.0.0

# Twilio
twilio==8.5.0

# Async Libraries
aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
asyncssh==2.14.2
attrs==22.2.0

# Task Queue & Scheduling
amqp==5.1.1
billiard==3.6.4.0
celery==5.2.7
django-celery-beat==2.5.0
django-celery-results==2.5.0
kombu==5.2.4
cron-descriptor==1.2.35
python-crontab==2.7.1

# Django
Django==4.2
django-cors-headers==3.14.0
django-timezone-field==5.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
sqlparse==0.4.3

# Google Cloud Libraries
google-ads==25.1.0
google-api-core==2.21.0
google-api-python-client==2.83.0
google-auth==2.17.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-cloud-bigquery==3.9.0
google-cloud-bigquery-storage==2.19.1
google-cloud-core==2.3.2
google-cloud-secret-manager==2.16.1
google-cloud-storage==2.8.0
google-crc32c==1.5.0
google-resumable-media==2.4.1
googleapis-common-protos==1.59.0
grpc-google-iam-v1==0.12.6
grpcio==1.67.0
grpcio-status==1.62.3

# Database & Storage
pymongo==4.7.3
psycopg2==2.9.6
db-dtypes==1.1.1
fsspec==2023.3.0
gcsfs==2023.3.0

# Authentication & OAuth
oauth2client==4.1.3
oauthlib==3.2.2
requests-oauthlib==1.3.1
rsa==4.9

# Data Processing & Parsing
beautifulsoup4==4.12.2
lxml==4.9.2
soupsieve==2.5
et-xmlfile==1.1.0
json-flatten==0.3
pandas==2.0.0
numpy==1.24.2
pyarrow==11.0.0
openpyxl==3.1.2
pycountry==22.3.5
pytz==2023.3
tzdata==2023.3
pyyaml==6.0.1

# FastAPI & Starlette
fastapi==0.111.0
uvicorn==0.30.1
starlette==0.37.2
pydantic==2.7.4
annotated-types==0.7.0
pydantic_core==2.18.4

# Web Frameworks
httpx==0.27.0
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.1
uritemplate==4.1.1
urllib3==1.26.15

# Logging & Debugging
humanize==4.6.0
rich==13.7.1
email_validator==2.1.1
markdown-it-py==3.0.0
matplotlib-inline==0.1.6
shellingham==1.5.4

# AI & NLP
openai==1.3.8

# Multimedia Processing (Added `pydub` and `ffmpeg`)
pydub==0.25.1  # Added for audio processing

# Miscellaneous
decorator==5.1.1
Deprecated==1.2.13
text-unidecode==1.3
Unidecode==1.3.7
pyparsing==3.0.9
six==1.16.0


google-cloud-speech==2.29.0
mutagen
